#Header {
    overflow: hidden;
    background-color: green;
    background: green;
    color: white;

}
#Header img {
    margin: 10px 10px 0px 0px;
}
#Body {
    text-align: left;
    color: black;
}
#Footer {
    text-align: left;
    color: black;
}
#Subscription img {
    margin: 8px 8px 8px 8px;
    border: solid;
    border-color: #66bb6a;
}
#video {
    float: right;
    width: 40vw;
    height: 25vw;
}
a {
    color: black;
    text-decoration: underline;
}
.container {
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    text-align: left;
    background-color: white;
}
#ChurchPic img {
    margin: 0px 10px 5px 0px;
    float: left;
    width: 150px;
    height: 150px;
    border: solid;
    border-color:#66bb6a;
}
#churchName {
    font-size: 20px;
}
#profilePic img {
    margin: 0px 10px 5px 0px;
    float: left;
    width: 150px;
    height: 150px;
    border: solid;
    border-color: green;
}
#reputation {
    color: green;
}
#Submit {
     background-color: #1b5e20;
    margin-right: 10px;
    float: right;
}
#formHead {
    text-align: center;
}
#subscribe {
    float: right;
    margin-right: 10px;
}
#search {
    background-color: #1b5e20;
}
.tabs a:link {
    color: green;
}

<<<<<<< HEAD
.registerButton{
    margin-bottom:10px;
}

.btn{
    background-color: #1b5e20;
}

.btn :hover{
    background-color: #fbc02d;
=======
.fillin{
    background: black;
    
>>>>>>> 970f777c88c44aa06973301f194717ae4976f0d7
}