<div class="row" id="header">
    <h5 style="text-align:center">Your Church</h5>
    <div class="col s5 m4 l3" id="ChurchPic">
        <a href=""><img src="http://image-link-archive.meteor.com/images/placeholder-640x480.png" alt="churchPic.jpg"></a>
    </div>
    <div class="input-field col s7 m8 l9">
        <input placeholder="Church Name" id="church_name" type="text" class="validate">
    </div>

    <div class="input-field col s7 m8 l9">
        <input placeholder="Denomination" id="church_denomination" type="text" class="validate">
    </div>

    <div class="input-field col s12">
        <input placeholder="Link To Church Website" id="church_link" type="text" class="validate">
    </div>

    <div class="input-field col s12">
        <textarea id="church_description" class="materialize-textarea"></textarea>
        <label for="church_description">Describe Your Church:</label>
    </div>
</div>
<a id="Submit" class="waves-effect waves-light btn" onclick="doSwitchContext('myChurchProfile')">Submit</a>
