<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../style.css" rel="stylesheet" type="text/css">
      
      <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
      <script type="text/javascript" src="../app.js"></script>
      
      <meta charset="utf8">
      <title>C4TK S2016</title>
  </head>
  <body class="grey lighten-4">
    <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper green">
            <a href="login.html" id="logo" class="brand-logo" style="padding-left:10px">C4TK S2016</a>
          </div>
      </nav>
    </div>
    
    <div class="fixed-action-btn horizontal" style="top: 30px; right: 24px;">
    <a class="btn-floating btn-large yellow accent-4">
      <i class="large material-icons">navigation</i>
    </a>
    <ul>
      <li><a class="btn-floating yellow accent-4"><i class="material-icons">close</i></a></li>
      <li><a class="btn-floating yellow accent-4 waves-effect waves-light btn modal-trigger" href="#logInModal"><i class="material-icons">input</i></a></li>
      <li><a class="btn-floating yellow accent-4" href="frontPage.html"><i class="material-icons">home</i></a></li>
      <li><a class="btn-floating yellow accent-4" href="personalProfile.html"><i class="material-icons">person</i></a></li>
      <li><a class="btn-floating yellow accent-4 waves-effect waves-light btn modal-trigger" href="#searchModal"><i class="material-icons">search</i></a></li>
    </ul>
  </div>
    
    <div id="searchModal" class="modal">
      <div class="modal-content">
        <nav>
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
        </nav>
      </div>
    </div>
      
  
    <div id="logInModal" class="modal">
      <div class="modal-content">
        <h4>Log In: </h4>
        <div class ="input-field col s4 push-s4">
          <input placeholder="Username" id="Username" type="text" class="validate">
        </div>
        <div class ="input-field col s4 push-s4">
          <input placeholder="Password" id="Password" type="text" class="validate">
        </div>
      </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Log In</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Register</a>
    </div>
  </div>
  
    <div class="container">
      <div class="row">
        <div class = "col s12">
          <a href= "personalProfileTemplate.html" class="btn-floating yellow darken-3" id="subscribe"><i class="material-icons">mode_edit</i>subscribe</a>
          <div id="profilePic"><a href="" onclick="function()"><img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="profilePic.jpg"></a></div>
          <div id="name"><b>Name</b></div>
          <div id="Denomination"><b>Denomination</b></div>
          <div id="Bio">Hi Im a biography, I do crossfit and im a vegan anyway heres my mixtape: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu arcu ut diam euismod auctor. Donec id velit leo. Pellentesque fermentum ullamcorper ex ac convallis. Nunc lobortis ullamcorper accumsan. Donec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu arcu ut diam euismod auctor. Donec id velit leo. Pellentesque fermentum ullamcorper ex ac convallis. Nunc lobortis ullamcorper accumsan. Donec Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu arcu ut diam euismod auctor. Donec id velit leo. Pellentesque fermentum ullamcorper ex ac convallis. Nunc lobortis ullamcorper accumsan. Donec.</div>
        </div>
      </div>
      <h5>Subscribed Churches: </h5>
      <div id="test2" class="col s12">
      <script> 
                $(function(){
                $('#test2').load("../Cards/PCSB.html"); 
                });
      </script>
    </div>
    </div>
  </body>
</html