<div class="row" id="header">
    <h5 style="text-align:center">You</h5>
    <div class="col s5 m4 l3" id="profilePic">
        <a href=""><img src="http://image-link-archive.meteor.com/images/placeholder-640x480.png" alt="churchPic.jpg"></a>
    </div>
    <div class="input-field col s7 m8 l9">
        <input placeholder="Name" id="profile_name" type="text" class="validate">
    </div>

    <div class="input-field col s7 m8 l9">
        <input placeholder="Denomination" id="profile_denomination" type="text" class="validate">
    </div>

    <div class="input-field col s12">
        <textarea id="profile_description" class="materialize-textarea"></textarea>
        <label for="profile_description">Describe Yourself:</label>
    </div>
</div>
<a id="Submit" class="waves-effect waves-light btn" onclick="SubmitChangefunction">Submit</a>
