<div class="row">
    <div class="col s12" id="formHead">New Sermon</div>
    <div class="input-field col s8">
        <input placeholder="sermonTitle" id="Title" type="text" class="validate">
    </div>
    <div class="input-field col s4">
        <input type="date" class="datepicker">
    </div>
    <div class="input-field col s12">
        <input placeholder="Video Link" id="Link" type="text" class="validate">
    </div>
    <form class="col s12">
        <div class="input-field col s12">
            <textarea id="Notes" class="materialize-textarea"></textarea>
            <label for="Notes">Notes</label>
        </div>
    </form>
    <a id="Submit" class="waves-effect waves-light btn" href="frontPage.html" onclick="SubmitChangefunction">Submit</a>
</div>